.action-item {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border: 1px solid #d0d0d0;
}

.agenda-title {
  display: flex;
  flex-direction: column;
}

.row-flex-space-between {
  display: flex;
  justify-content: space-between;
}

.row-flex-start {
  display: flex;
  flex-wrap: wrap;
}

.action-assignee-column-flex {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.form-label {
  display: block;
  margin-bottom: 0.1rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

.form-input,
.form-select {
  padding: 0.6rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  margin-right: 1em;
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
}

.form-input {
  min-height: 30px;
  overflow-y: hidden;
  resize: none;
}

.remove-button {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1rem;
  background-color: black;
  color: white;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #671d1d;
}