/* Agenda Items Styles */
.agenda-item {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.agenda-title {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}

.action-item,
.decision-item,
.discussion-points {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
}

.remove-button,
.add-button {
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button {
  background-color: black;
  margin-right: 1em;
}

.remove-button:hover {
  background-color: #6a2020;
}

.add-button {
  background-color: #0d89cb;
  margin-left: 1em;
}

.add-button:hover {
  background-color: #095882;
}

/* Form Styles */
.form-label {
  display: block;
  margin-bottom: 0.1rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #495057;
}

.form-input,
.form-textarea,
.form-select {
  padding: 0.6rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  margin-right: 1em;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ced4da;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-input:focus,
.form-textarea:focus,
.form-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Layout Styles */
.row-flex-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .row-flex-start {
    flex-direction: column;
  }
  
  .form-input,
  .form-textarea,
  .form-select {
    width: 100%;
    margin-right: 0;
  }
}