.container {
  display: flex;
  flex-direction: column;
  margin-top: 4.5em;  /* Leaving space for the top fixed navbar */
  height: calc(100vh - 4.5em);
}

.navbar {
  width: 100%;
  margin-top: -17px;
  display: flex; /* Added */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  position: fixed;
  background-color: black;
  z-index: 9999;
}

.select {
  width: 190px;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #2b1f1f;
  color: white;
  z-index: 9999;  
}

.selectGreen {
  color: aqua;
}

.selectGreen option {
  color: white;  /* This will reset the color to the default for options inside the dropdown */
}

.mainContent {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  padding: 1rem;
  margin-left: 5px;
  margin-top: 5px;
}

.nomainContent {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  padding: 1rem;
  margin-left: 5px;
  margin-top: 80px;
}

.pleaseSignIn {
  flex-grow: 1;
  padding: 1rem;
  margin-left: 200px;
  margin-top: 0px;
}

.navButton {
  width: 170px;
  display: block;
  padding: 0.5rem;
  margin: 0.5rem 0;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  z-index: 9999;  
}

.navButton:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.navButton:hover {
  outline: 4px auto -webkit-focus-ring-color;
}

.navButton.active {
  background-color: #362d50;
}

.register {
  width: 170px;
  padding: 0.1em;
  margin: 0.5em;
}

.registerbutton {
  width: 170px;
  padding: 0.1em;
  margin: 0.5em;
}
