.form-container {
  max-width: 1000px;
  padding: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.confirm-heading {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: -20px;
}

.gitbook-form {
  display: flex;
  flex-direction: column;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.row-flex-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.row-flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.peoplediv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.form-column-flex {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.links-column-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.people1 {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 12px;
  flex-grow: 1;
}
.people2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  flex-grow: 3;
}

.people3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  margin-left: 30px;
  flex-grow: 1;
}

.form-label {
  display: block;
  margin-bottom: 0.1rem;
  font-size: 0.9rem;
}

.form-input,
.form-textarea {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem; 
  margin-right: 1em;
  background-color: #2b1f1f;
  color: white;
}

.form-select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem; 
  margin-right: 1em;
  background-color: #2b1f1f;
  color: white;
}

.form-textarea {
  min-height: 120px;
  min-width: 500px;
  background-color: #2b1f1f;
  color: white;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 4em;
  margin-top: 2em;
  font-size: larger;
  font-weight: bold;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.agenda-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  margin-bottom: 25px;
  background-color: rgb(22, 47, 97);
}

.agenda-title {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}

.action-item {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: black;
}

.action-assignee-column-flex {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.remove-button-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 4;
}

.remove-button {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  margin-right: 1em;
  background-color: #680202;
  color: white;
  cursor: pointer;
}
.add-button {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem; 
  margin-left: 1em;
  background-color: rgb(1, 121, 61);
  color: white;
  cursor: pointer;
}

.decision-item {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: black;
}

.discussion-points {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: black;
}

.markdown-rendered-heading {
  margin-top: 8rem;
}
.markdown-rendered{
  margin-top: 30px;
  max-width: 700px;
}

.markdown-rendered ul,
.markdown-rendered ol {
  padding-left: 20px; 
  list-style-position: inside;
}

.markdown-rendered li {
  margin-bottom: 4px;
}

.meeting-summary-textarea {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem; 
  margin-right: 1em;
  background-color: #2b1f1f;
  color: white;
  min-height: 300px;
  width: 700px;
  resize: vertical;
}

@keyframes fade-in-out {
  0% { opacity: 0; } 
  50% { opacity: 1; } 
  100% { opacity: 0; } 
}

.loading {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4.5em);
  justify-content: center; 
  align-items: center;     
  font-size: 3rem;
  animation: fade-in-out 2s ease-in-out infinite; 
  color: aquamarine;
}

.form-container a{
  color:#70b3fa;
}
.form-container a:hover {
  color: #007bff;
}

.export-button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 3em;
  margin-top: 2em;
  font-weight: bold;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.flashing-text {
  animation: flash 1s infinite;
}
